<h1>Mes planètes</h1>
<button class="btn btn-warning"><a routerLink="/planet/ajout">Ajouter une planète</a></button>

<table class="table">
  <thead>

    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Nombre d'habitants</th>
      <th scope="col">Allegiance</th>    
      <th scope="col">Nombre de km de la Terre</th>
      <th scope="col">Action</th>
      <th scope="col">Suppression</th>
      <th scope="col">Modification</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let divers of this.toutePlanet">
      <td>{{ divers.nom }}</td>
      <td>{{ divers.nbHabitant }}</td>
      <td>{{ divers.allegiance }}</td>
      <td>{{ divers.nbKmTerre }}</td>
      <td><a [routerLink]="['/planet', divers.id]">En savoir plus sur {{ divers.nom }}</a></td> 
      <!-- "['/planet', divers.id]" => permet de créer un lien,  d'indiquer l'id de la planete -->
      
      <td><a (click)="deletePlanet(divers)">Supprimer {{ divers.nom  }}</a></td> 
      <!-- on fait un évènement avec le (click), et on appelle la fonction deletePlanete(planète qu'on veut supprimer), en l'occurence la planete courante de notre tableau-->

     <td><a [routerLink]="['/planet/edit', divers.id]">Modifier {{ divers.nom }}</a></td>
      <!-- "['/planet', divers.id]" => permet de créer un lien,  l'id de la planete -->

    </tr>
</tbody>
</table>
